.head{
    background-color: orange;
    display: flex;
    justify-content: space-between;
}
.menu{
    padding-left: 300px;
    justify-content: space-between;
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex: wrap;
}
